asgiref==3.8.1
Brotli==1.1.0
cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
chardet==5.2.0
coverage==7.6.12
cssselect2==0.7.0
defusedxml==0.8.0rc2
Django==5.1.6
django-bootstrap5==24.3
django-ckeditor-5==0.2.17
django-debug-toolbar==5.0.1
fonttools==4.56.0
html5lib==1.1
pillow==11.1.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
reportlab==4.3.1
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==52.5
webencodings==0.5.1
zopfli==0.2.3.post1

qrcode~=8.0
itsdangerous~=2.2.0
certifi~=2025.1.31