{% extends "base_login.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reports/style_e1.css' %}">
{% endblock %}

{% block content %}
<content>
  <p></p>
  <p></p>
{% if form.errors %}
  <p>Die eingegebenen Daten konnten nicht gefunden werden. Bitte überprüfen Sie Ihre Eingaben.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table align="center">

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>
<p></p>
<p><input type="submit" value="login" /></p>
<p><input type="hidden" name="next" value="{{ next }}" /></p>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Passwort vergessen?</a></p>
</content>
{% endblock %}