{% extends "base_login.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reports/style_e1.css' %}">
{% endblock %}

{% block content %}
<content>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
        <p>E-Mail Adresse eingeben: {{ form.email }}</p> 
        <p><input type="submit" class="btn btn-default btn-lg" value="Reset password"></p>
  </form>
</content>
{% endblock %}