{% extends "base_login.html" %}

{% block extrahead %}
<content>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reports/style_e1.css' %}">
{% endblock %}

{% block content %}
    <p></p>
    <p></p>
    <div class="container">
          <div class="mb-3 row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-7"><h4>Das Passwort wurde geändert!</h4></div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
          <div class="mb-3 row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-7"><a href="{% url 'login' %}">Zum Login?</a></div>
              <div class="col-sm-2">&nbsp;</div>
          </div>
    </div>
</content>
{% endblock %}
