{% extends "base_parents.html" %}

{% block extrahead %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% load django_bootstrap5 %}
    <link rel="stylesheet" href="{% static 'parents/parents.css' %}?v={{ STATIC_VERSION }}">
{% endblock %}



{% block nav %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'reports:index' %}" >Patient suchen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
           <!-- <li class="nav-item">
              <a class="btn btn-primary btn-sm" href="tbd" role="button">zurück</a>
            </li>
            -->
        </ul>
      </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<content>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <h4>Mit dem abgebildetem QR-Code können Sie über ihr Smartphone den Elternfragebogen aufrufen und ausfüllen. Sie haben dafür maximal 2h Zeit, danach ist der Link nicht mehr gültig.</h4>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <img  src="data:image/png;base64,{{ qr_code }}" alt="QR-Code für das Formular" width="300px"/>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3 text-center">
                <a href="{{temp_link}}">Link zum Fragebogen</a>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-8">
            <h3>Link per E-Mail zusenden lassen:</h3>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="temp_link" value="{{temp_link}}">
                <input type="hidden" name="qr_code" value="{{qr_code}}">
                {% bootstrap_form email_form layout="floating" %}
                {% bootstrap_button "Link zusenden" button_type="submit" button_class="btn-primary" %}
            </form>

            {% if success %}
              <div class="alert alert-success mt-3">
                ✔ Der Link wurde an Ihre E-Mail-Adresse gesendet.
              </div>
            {% endif %}



            </div>
        </div>


    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</content>
{% endblock %}
