{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'parents/parents.css' %}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'reports:index' %}" >Patient suchen</a>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavbar"
              aria-controls="collapsibleNavbar"
              aria-expanded="false"
              aria-label="Navigation umschalten">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-primary btn-sm" href="{% url 'parents:parents_sheet_list' %}" role="button">zurück</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<content>
    <div class="container">
    <br>
    <h2>Elternbogen besprechen</h2>
            {% csrf_token %}
            {% crispy form %}
    </div>
</content>
{% endblock %}


