{% extends "base_parents.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block head %}
    {{ wizard.form.media }}
    <link rel="stylesheet" href="{% static 'parents/parents.css' %}?v={{ STATIC_VERSION }}">
{% endblock %}



{% block nav %}
{% endblock %}

{% block content %}
<content>

<div class="container">
    {% if wizard.steps.step1 == 1 %}
    <div class="row">
            <div class="col-12">
                <h2>Liebe Eltern</h2>
                <p>Um Auffälligkeiten Ihres Kindes, für die Sie unseren Rat suchen, richtig bewerten zu können, brauchen wir
                Informationen über seine Entwicklung. <br>Beantworten Sie die nachfolgenden Fragen bitte so vollständig
                wie möglich. Offen gebliebene Fragen können wir beim Anamnesegespräch gemeinsam klären.
                    <br><strong>Wir danken für Ihre Mitarbeit!</strong>
                </p>
                <hr>
            </div>
    </div>
    {% endif %}

    <h3 class="text-end">Schritt {{ wizard.steps.step1 }} von {{ wizard.steps.count }}</h3>

        {{ wizard.management_form }}
        {% crispy form %}


</div>
    <br>
    <br>
    <br>
    <br>
</content>
<script src="{% static 'parents/js_files/parents.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock %}
