{% extends "base_parents.html" %}

{% block head %}
<meta http-equiv="refresh" content="10;url=https://www.logopaedie-schumacher-euskirchen.de">
{% endblock %}

{% block content %}
<content>
    <div class="container">
        <br>
        <h4>Vielen Dank für Ihre Mitarbeit!</h4>
        <p>Alles weitere wird Ihre Therapeutin mit Ihnen besprechen.</p>
        <p>Ihr Team der Logopädie Schumacher</p>
        <br>
        <p>Sie werden in 10 Sekunden auf unsere Startseite weitergeleitet.</p>
        <p><a href="https://www.logopaedie-schumacher-euskirchen.de">Jetzt weiter zur Homepage</a></p>
    </div>
</content>
{% endblock %}