    {% load static %}
    <div class="container-fluid text-center header">
        <div class="row" >
            <div class="col-sm-1 d-none d-md-block">
                <img src="{% static 'reports/images/logopaedie.png' %}" width=70px margin="0" alt="Logopädie">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h4>Logopädische Praxis Schumacher</h4>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm d-none d-md-block">
                        <h5>Inhaber: Toni Schumacher</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm d-none d-md-block">
                        <h6>{% if user.is_authenticated %} Hallo {{ user.first_name }}! {% endif %}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 d-none d-md-block">
                <div class="row">&nbsp;</div>
                {% if user.is_authenticated %}
                <div class="d-flex">
                    <div class="p-0 text-success">
                        Logout |
                    </div>
                    <div class="p-0 text-success">
                        <div id="minutes"></div>
                    </div>
                    <div class="p-0 text-success">
                        :
                    </div>
                    <div class="p-0 text-success">
                        <div id="seconds"></div>
                    </div>
                </div>
                <div class="d-flex">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Abmelden</button>
                    </form>
                </div>
                <div class="d-flex"><a href="{% url 'password_change' %}">Passwort ändern</a></div>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
